terratowns_endpoint = "https://terratowns.cloud/api"
wow = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/wow"
  content_version = 1 
}
bbq = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/bbq"
  content_version = 1 
}